In [16]:
# !pip38 install camelot-py[cv]

In [17]:
# file path 
pdf_path = r'\src\foo.pdf'
root = !cd
path = str(root[0]) + pdf_path

In [18]:
import camelot

output_camelot = camelot.read_pdf(
    filepath=path, pages=str(0), flavor="stream"
)
print(output_camelot)
table = output_camelot[0]
print(table)
print(table.parsing_report)

<TableList n=1>
<Table shape=(12, 7)>
{'accuracy': 95.87, 'whitespace': 38.1, 'order': 1, 'page': 0}

In [19]:
print(table)
print(type(table))

<Table shape=(12, 7)>
<class 'camelot.core.Table'>

In [14]:
table.df

,0,1,2,3,4,5,6
0,reducing the number of stops in high KI cycles...,,,,,,
1,,Table 2-1. Simulated fuel savings from isolate...,,,,,
2,,,,,,Percent Fuel Savings,
3,Cycle,KI,Distance,,,,
4,,,,Improved,Decreased,Eliminate,Decreased
5,Name,(1/km),(mi),,,,
6,,,,Speed,Accel,Stops,Idle
7,2012_2,3.30,1.3,5.9%,9.5%,29.2%,17.4%
8,2145_1,0.68,11.2,2.4%,0.1%,9.5%,2.7%
9,4234_1,0.59,58.7,8.5%,1.3%,8.5%,3.3%
10,2032_2,0.17,57.8,21.7%,0.3%,2.7%,1.2%
11,4171_1,0.07,173.9,58.1%,1.6%,2.1%,0.5%

In [20]:
df = table.df

In [21]:
df.columns

RangeIndex(start=0, stop=7, step=1)

In [23]:
# cleanse the table by dropping specific rows
# check of rows with null data
# df.isnull()

In [25]:
# drop the initial set of rows
df1 = df.drop(axis=0, index=[0,1,2,3,4,5,6])

In [26]:
df1

         0     1      2      3     4      5      6
7   2012_2  3.30    1.3   5.9%  9.5%  29.2%  17.4%
8   2145_1  0.68   11.2   2.4%  0.1%   9.5%   2.7%
9   4234_1  0.59   58.7   8.5%  1.3%   8.5%   3.3%
10  2032_2  0.17   57.8  21.7%  0.3%   2.7%   1.2%
11  4171_1  0.07  173.9  58.1%  1.6%   2.1%   0.5%

In [27]:
columns = ['Cycle Name', 'KI (1/km)', 'Distance (mi)', 'Improved Speed', 'Decreased Accel', 'Eliminate Stops', 'Decreased Idle']

In [28]:
df1.columns = columns

In [29]:
df1

,Cycle Name,KI (1/km),Distance (mi),Improved Speed,Decreased Accel,Eliminate Stops,Decreased Idle
7,2012_2,3.30,1.3,5.9%,9.5%,29.2%,17.4%
8,2145_1,0.68,11.2,2.4%,0.1%,9.5%,2.7%
9,4234_1,0.59,58.7,8.5%,1.3%,8.5%,3.3%
10,2032_2,0.17,57.8,21.7%,0.3%,2.7%,1.2%
11,4171_1,0.07,173.9,58.1%,1.6%,2.1%,0.5%