In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
sns.set_style("darkgrid")

In [4]:
sms = pd.read_csv(r'/home/anshul/youtube/freelance_projects/category_machine_learning/filtering_spam/spam.csv', encoding='latin1')

In [7]:
sms = sms.iloc[:, [0,1]]
sms.columns = ['label', 'message']
sms.head()

  label                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...